<a href="https://colab.research.google.com/github/Satish-Devs/Fun-With-Python-examples/blob/main/python_kickstarter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise Questions:

## 1. Given a number count the total number of digits in it and print the reverse of the given number.

In [ ]:
num = u't'
t = 0
num = input("Enter a number : ")
while num.isnumeric()!=True:
  print("Please enter a valid number")
  num = input("Enter a number : ")
  
count = len(num)
num_rev = num[::-1]

print("The count of number entered is {}".format(count))
print("The reverse of number entered is {}".format(num_rev))

Enter a number : 1223
The count of number entered is 4
The reverse of number entered is 3221

## 2. Display Fibonacci series up to 10 terms

### Method1

In [ ]:
#function definition
def Fibonacci(n):

  #Check if input is less than 0 
  #print incorrect input

  if n< 0:
    print("incorrect input")

  #Check if n is 0
  #then return 0

  elif n==0:
    return 0

  #Check if n is 1 or 2 
  #then return 1

  elif n == 1 or n ==2:
    return 1

  else:
    return Fibonacci(n-1) + Fibonacci(n-2)  
lst = []
for i in range(10):
  lst.append(Fibonacci(i))

print(*lst)

0 1 1 2 3 5 8 13 21 34

### Method 2

In [ ]:
#Dynamic programming

fibArray = [0,1]

def fibonacci(n):

  if n<=0:
    print("Incorrect input")
  
  #Check if n is less than len(fibArray)

  elif n <= len(fibArray):
    return fibArray[n-1]
  else:
    temp_fib = fibonacci(n-1)+fibonacci(n-2)

    fibArray.append(temp_fib)
    return temp_fib

# print(fibonacci(10))
fibonacci(10)
print(fibArray)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Method 3 - Space optimized

In [ ]:
def fibonacci(n):

  #taking first 2 numbers as 0 and 1

  a = 0
  b = 1

  series = [a,b]

  #Checking if n is less than 0

  if n<0:
    print("Incorrect input")
  
  #Checking if n = 0

  elif n==0:
    return a
  
  #Checking if n = 1
  elif n==1:
    return b

  else:
    for i in range(1,n):
      c = a+b
      a = b
      b = c
      series.append(b)
    return series

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## 3. Write a recursive function to calculate the sum of numbers from 0 to 10

In [ ]:
def sum(n):
  if n<0:
    return "Invalid Input"
  elif n<=1:
    return n
  else:
    return n + sum(n-1)

n = int(input())
sum(n)

10

55

## 4. Given a string, return the sum and average of the digits that appear in the string, ignoring all other characters.

In [ ]:
str1 = input()
num = []
for i in str1:
  if i.isnumeric() == True:
    num.append(int(i))

print("The digits in the entered string are ",*num)

print("Sum = {}".format(sum(num)))
print("Average = {}".format(sum(num)/len(num)))

78787sdjasdjsd989898
The digits in the entered string are  7 8 7 8 7 9 8 9 8 9 8
Sum = 88
Average = 8.0

## 5. Split a given string on hyphens into several substrings and display each substring

### Method 1

In [ ]:
str1 = input() #Ramu-Student-4567-ramu@sample.co.in

str1 = str1.split("-")
print(*str1)

Ramu-Student-4567-ramu@sample.co.in
Ramu Student 4567 ramu@sample.co.in

### Method 2

In [ ]:
str1 = input()+'-'
lst = []

for s in str1:
  if s == "-":
    #getting index of hyphen(-)
    i = str1.index(s)

    #appending all the characters before the '-' symbol  
    lst.append(str1[:i])
    
    #Checking if it is last hyphen for preventing the out of range error 
    if str1.index(s)!= len(str1)-1:  

      #ignoring all characters that are before the hypen 
      str1 = str1[str1.index(s)+1:]  
    

print(*lst)

Ramu-Student-4567-ramu@sample.co.in
Ramu Student 4567 ramu@sample.co.in

## 6.Find whether a given string has unique characters, return True, if duplicates return False.

In [ ]:
str1 = input()
dict1 ={}

for i in str1:
  dict1[i] = str1.count(i)

if max(dict1.values()) <= 1:
  print(True)
else:
  print(False)

  for i in str1:
    if dict1[i] >1:
      print("{} has repeated {} times".format(i,dict1[i]))
      dict1[i] =0

789
True

## 7.Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration

In [ ]:
lst = list(map(int,input().split()))

for i in lst:
  if i>150:
    print("\n{} is greater than 150\nHence loop stopped".format(i))
    break

  elif i%5==0:
    print(i,end = " ")

## 8.Find the sum of the series 1 +11 + 111 + 1111 + ... n terms

### Method 1

In [ ]:

n = int(input())

def one_series(n):
  if n == 1:
    return 1
  else:  
    return  int(n*'1')  + one_series(n-1)
    # return  (n*10+1)  + one_series(n-1)

print(one_series(n))

5
12345

### Method 2

In [ ]:
n = int(input())
sum = 0
j = 1

for i in range(1,n+1): 
  sum += j
  j = (j*10) +1 

print(sum)

5
12345

## 9. Calculate income tax for the given income by adhering to the below rules

In [ ]:
income = input()
income = income.replace(',','')
income = int(income)

tax_amt1 = 0
tax_amt2 = 0
tax_amt3 = 0



if (income > 10000) and (income >= 20000):
  tax_amt2 = 10000 

elif (income > 10000) and (income < 20000):
  tax_amt2 = income - 10000 

if income > 20000:
  tax_amt3 = income - 20000


total_tax = tax_amt1*0 + tax_amt2*0.10 + tax_amt3*0.20

print("The total tax is {}".format(total_tax))

1,00,000
The total taxt is 17000.0

## 10. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

In [ ]:
n = int(input("Enter the size of the array")) 
list1 = list(input().split())[:n]
list2 = list(input().split())[:n]

for i in range(n):
  print("list1[{}] = {}".format(i,list1[i]),"\tlist2[{}] = {}".format(-(i+1),list2[-(i+1)]))

Enter the size of the array5
1 2 3 4 5
1 2 3 4 5
list1[0] = 1 	list2[-1] = 5
list1[1] = 2 	list2[-2] = 4
list1[2] = 3 	list2[-3] = 3
list1[3] = 4 	list2[-4] = 2
list1[4] = 5 	list2[-5] = 1

## 11. Remove empty strings from the list of strings

In [ ]:
lst = list(input())

while(lst.count(" ")):
  lst.remove(" ")

print(lst)

good morning
['g', 'o', 'o', 'd', 'm', 'o', 'r', 'n', 'i', 'n', 'g']

## 12. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

## Method 1

In [ ]:
lst = list(map(int,input().split()))

# lst = [200 if i == 20 else i for i in lst ]

for i in range(len(lst)):
  if lst[i] == 20:
    lst[i] = 200
    break
print(lst)

20 202 20
[200, 202, 200]

## Method 2

In [ ]:
lst = list(map(int,input().split()))

lst[lst.index(20)] = 200

print(lst)

20 20 200 20
[200, 20, 200, 20]

## 13.Write a Python program to sort a given dictionary by key.

In [ ]:
dict1 = {3:"Three",5:"Five",4:"Four",2:"Two",1:"One"}
sorted_keys = sorted(dict1)
sorted_dict = {}
for i in range(1,len(sorted_keys)+1):
  sorted_dict[i] = dict1[i]
print(sorted_dict.items())

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three'), (4, 'Four'), (5, 'Five')])

## 14. Write a Python program to combine two dictionary adding values for common keys

In [ ]:
M1 = {"Ganguly":67,"Ramu":98,"Chandru": 87,"Pratap": 100,"Jamuna": 98}
M2 = {"Ramu":99,"Chandru": 91,"Pratap": 96,"Jamuna": 100,"Motwani":91}
total ={}
for key in M1:
  if key in M2:
    total[key] = M1[key]+M2[key]
  else:
    pass

print(total.items())

dict_items([('Ramu', 197), ('Chandru', 178), ('Pratap', 196), ('Jamuna', 198)])

## 15. Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.

Sample data : {'1':['a','b'], '2':['c','d']}

Expected Output:

ac

ad

bc

bd

### Method 1

In [ ]:
dict1 = {'1':['a','b'],'2':['c','d']}

# for key1 in dict1:
#   for key2 in dict1:
#     for i in range(len(key1)):
#       for j in range(len(key2)):  
#         if key1 != key2:
#               print(dict1[key1][i]+ dict1[key2][j])
       
for x in dict1['1']:
  for y in dict1['2']:
    print(x+y)

ac
ad
bc
bd

### Method 2

In [ ]:
import itertools
dict1 = {'1':['a','b'],'2':['c','d']}

for combo in itertools.product(*[dict1[k] for k in sorted(dict1.keys())] ):
  print(''.join(combo))

ac
ad
bc
bd

### Method 3

In [ ]:

dict1 = {'1':['a','b'],'2':['c','d']}
lst = []
comb_lst = []
for k in dict1.keys():
  lst.append(dict1[k])

for i in lst:
  for j in lst:
    if i!=j:
      for a in i:
        for b in j:
          comb_lst.append(a+b)
      
for i in comb_lst:
  for j in comb_lst:
    if (i!=j) and (i[::-1]==j):
      comb_lst.remove(j)

print(comb_lst)

['ac', 'ad', 'bc', 'bd']

## 16. Write a Python program to combine two lists into a dictionary, where the elements of the first one serve as the keys and the elements of the second one serve as the values.

### Method 1

In [ ]:
lst1 = ['a', 'b', 'c', 'd', 'e', 'f']
lst2 = [1, 2, 3, 4, 5]
dict1 = {}
min_index = min(len(lst1),len(lst2))
for i in range(min_index):
  dict1[lst1[i]] = lst2[i]
print(dict1.items())

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

## Method 2

In [ ]:
lst1 = ['a', 'b', 'c', 'd', 'e', 'f']
lst2 = [1, 2, 3, 4, 5]

dict1 = dict(zip(lst1,lst2))
print(dict1.items())

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])